
.cb:checked~ .con {
    text-decoration: line-through;
}

.detailPage {
	background-color: rgba(230, 120, 18, 0.733);;
	color:  rgb(27, 158, 235);
	font-family: Comic Sans MS;
}

.cb {
	margin: 0px;
	width: 1vw;
}


.itemImage {
	width: 40%;
	max-height: 40%;
}

.detailPage p {
	max-width: 50%;
}

@media only screen and (min-width: 300px) {
	.detailPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1em;
	}

}

@media only screen and (min-width: 600px) {
	.detailPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1em;
	}
}
  @media only screen and (min-width: 900px) {
	.detailPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1em;
	}
  }